<!-- ログイン画面 -->
{% extends 'base.html' %}
{% load static %}
{% block content %}

    

<div class="wrapper">
    <h2 style="text-align: center;">ログイン</h2>
    <div class="form-container">        
        {% if messages %}
        <div>
            {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="email" class="form-label">メールアドレス</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="メールアドレスを入力" required>
            
            <label for="password" class="form-label">パスワード</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="パスワードを入力" required>
            
            <button type="submit" class="button-primary">ログイン</button>
        </form>
        
        <form method="POST" action="{% url 'google_login' %}">
            {% csrf_token %}
            <button type="submit" class="button-secondary">Googleでログイン</button>
        </form>
        <a href="{% url 'register' %}">新規ユーザー登録</a>
    </div>                    
</div>

{% endblock %}
