<!-- 解答・解説表示画面 -->
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="wrapper">
    <div class="d-flex justify-content-center">
        {% if is_correct" %}
            <div class="h1">正解！</div>
        {% else %}
            <div class="h1">残念…</div>
        {% endif %}    
    </div>
      
    <h2>あなたの解答：{{ selected_answer }}</h2>
    <h2>正解：{{ correct_answer }}</h2>
    
    <div class="explanation-container">
        解説：
        <div class="explanation-box">{{ explanation }}</div>
    </div>

    <div class="button-group">
        <a href="{% url 'list_questions' %}" class="button-primary">次の問題へ</a>
        <a href="{% url 'home' %}" class="button-secondary">解答終了</a>
        <a href="{% url 'home' %}" class="button-third">中断</a>
    </div>    
</div>

{% endblock %}