<!-- 解答・解説表示画面 -->
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container vh-100">
    <div class="d-flex justify-content-center">
        {% if is_correct %}
            <div class="h1">正解！</div>
        {% else %}
            <div class="h1">残念…</div>
        {% endif %}    
    </div>
      
    <div>あなたの解答：<strong>{{ selected_answer }}</strong></div>
    <div>正解：<storong>{{ correct_answer }}</storong> </div>
    
    <div class=mt-3>解説：</div>    
    <div class="border rounded h-50 overflow-auto mb-5">{{ explanation }}</div>

    <div class="d-flex justify-content-center gap-3">
        <a href="{% url 'list_questions' %}" class="btn btn-dark">次の問題へ</a>
        <a href="{% url 'result_page' %}" class="btn btn-secondary">解答終了</a>
        <a href="{% url 'home' %}" class="btn btn-danger">中断</a>
    </div>    
</div>

{% endblock %}