<!-- 出題・解答画面 -->
{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- 未実装：
「解答送信」「解答終了」のurl -->

<div class="container vh-100">
    <div class="h1 mb-2">第{{user_answers_count}}問</div>
    
    <div class="h-50 border rounded overflow-auto">{{question_content}}</div>
    
    <form action="{% url '解答送信' question_id  %}" method="POST" class="mt-5">
        {% csrf_token %}
        {% for key, value in question_choices %}
        <div class="d-flex align-items-center">
          <button type="submit" class="btn btn-dark" name="answer" value={{key}}>{{key}}</button>
          <div class="">{{value}}</div>
        </div>
        {% endfor %}
    </form>
  
    <div class="d-flex justify-content-center gap-3">
      <button type="button" class="btn btn-secondary" href="{% url '解答終了' %}">解答終了</button>
      <button type="button" class="btn btn-danger" href="{% url 'home' %}">中断</button>
    </div>
</div>

{% endblock %}
