<!-- 出題・解答画面 -->
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="wrapper">
  <div class="question-container"></div>
      <h2>第{{ question_number }}問</h2>
      
      <div class="content-box">{{ question_content }}</div>
    
    {% if question_id %}
      <form action="{% url 'answer_save' question_id=question_id|default:0 %}" method="POST" >
        {% csrf_token %}
        
        {% for choice in question_choices %}
          <div class="choice-container">
            <button type="submit" class="button-choice" name="answer" value="{{ choice.key }}">
              {{ choice.key }}
            </button>
            {{ choice.text }}
          </div>
        {% endfor %}
      
      </form>
    {% else %}
      <p class="text-danger">問題IDを取得することができませんでした。</p>
    {% endif %}
    
      <div class="button-group">
        <form action="{% url 'end_session' %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="button-primary">解答終了</button> 
        </form>
        <a href="{% url 'home' %}" class="button-secondary">中断</a>
      </div>
  </div>
</div>


{% endblock %}
