<!-- ランキング画面 -->
{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- 未実装：リワード周り -->

<div class="container">
    <div class="list-group">
        {% for user in ranking %}  
        <div class="list-group-item d-flex justify-content-between align-items-center">
            <div>{{ forloop.counter }}位</div>
            <div class="">{{ user.0 }}</div>
            <div class=""></div> <!-- バッジ用スペース -->
            <div class="">{{ user.1 }}pt</div>
        </div>
        {% endfor %}
    </div> 
</div>
  
{% endblock %}
