<!-- ランキング画面 -->
{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

<div class="wrapper">
    <h1 class="text-center">ランキング</h1>
    <div class="ranking-container">
        <table>
            <tr>
                <th class="col-rank">順位</th>
                <th class="col-name">ユーザー名</th>
                <th class="col-reward">バッジ</th>
                <th class="col-score">スコア</th>
            </tr>

            {% for user in ranking %} 
            <tr>
                <td class="col-rank">{{ forloop.counter }}位</td>
                <td class="col-name">{{ user.user_name }}</td>
                <td class="col-reward">
                    <div class="badges-container">
                        {% with user_badge_list=user_badges|get_item:user.id %}
                            {% for badge in user_badge_list %}
                                <img class="badge-image" 
                                     src="{% static 'rewards/badges/'|add:badge.category|add:'_'|add:badge.level|add:'.png' %}" 
                                     alt="{{ badge.category }} {{ badge.level }} バッジ">
                            {% empty %}
                                <div></div>
                            {% endfor %}
                        {% endwith %}
                    </div>
                </td>
                <td class="col-score">{{ user.points }}pt</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="button-group">
        <a href="{% url 'home' %}" class="button-primary">ホーム画面へ</a>
    </div>

</div>
  
{% endblock %}
