<!-- ランキング画面 -->
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="wrapper">
    <h1 class="text-center">ランキング</h1>
    <div class="ranking-container">
        <table>
            <tr>
                <th class="col-rank">順位</th>
                <th class="col-name">ユーザー名</th>
                <th class="col-reward">バッジ</th>
                <th class="col-score">スコア</th>
            </tr>

            {% for user in ranking %} 
            <tr>
                <td class="col-rank">{{ forloop.counter }}位</td>
                <td class="col-name">{{ user.0 }}</td>
                <td class="col-reward">
                    <div class="badges-container">
                        <!-- for文でリワードのパスを取得し、srcに指定 -->
                        <img class="badge-image" src="{% static 'rewards/badges/algorithm_bronze.png' %}">
                        <!-- end for -->
                    </div>
                </td>
                <td class="col-score">{{ user.1 }}pt</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="button-group">
        <a href="{% url 'home' %}" class="button-primary">ホーム画面へ</a>
    </div>

</div>
  
{% endblock %}
