<!-- 学習履歴画面 -->
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container vh-100">
    <h1 class="text-center my-4">学習履歴</h1>

    <!-- 累計正答率のグラフ -->
    <div class="row align-items-center">
        <div class="col-md-4">
            <canvas id="accuracyChart"></canvas>
        </div>
        <div class="col-md-8">
            <h2>累計正答率{{ true_rate|floatformat:2 }}％ （{{ count_of_true }}問／{{ sum_answer }}問）</h2> 
        </div>
    </div>

    <!-- 各回の結果を表として描画 -->
    {% for answers in session_answers %}
    <div class="mt-4">
        <h3>{{ session.time }} 正答率 {{ session.accuracy|floatformat:2 }} % ({{ session.answers|length }}問中)</h3>

        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>No.</th>
                        {% for _ in session.answers %}
                        <th>{{forloop.counter}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>正誤</th>
                        {% for answer in session.answers %}
                        <td>{% if answer %}◯{% else %}×{% endif %}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
    const ctx = document.getElementById("accuracyChart");

    const correctAnswers = JSON.parse('{{ count_of_true|safe }}');
    const totalAnswers = JSON.parse('{{ sum_answer|safe }}');
    const incorrectAnswers = totalAnswers - correctAnswers; 

    new Chart(ctx, {
        type: "pie",
        data: {
            labels: ["正答", "誤答"],
            datasets: [{
                data: [correctAnswers, incorrectAnswers],
                backgroundColor: ['#ff4d4d', '#3366ff']
            }]
        },
        options: {
            responsive: true,
            plugins: {
                    legend: {
                        position: 'bottom'
                }
            }
        }
    });
});
</script>
 
{% endblock %}
