<!-- 学習履歴画面 -->
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="wrapper">
    <h1 class="text-center">学習履歴</h1>

    <!-- 累計正答率のグラフ -->
    <div class="chart-container">
        <canvas id="accuracyChart"></canvas>
        <h2>累計正答率{{ true_rate|floatformat:2 }}％ （{{ count_of_true }}問／{{ sum_answer }}問）</h2> 
    </div>

    <!-- 各回の結果を表として描画 -->
    <div class="record-table-container">
        
        {% for session in session_data %}
        <h3>{{ session.end_time }} 正答率 {{ session.accuracy|floatformat:2 }} % (問／{{ session.answers|length }}問)</h3>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>No.</th>
                        {% for _ in session.answers %}
                        <th>{{forloop.counter}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>正誤</td>
                        {% for answer in session.answers %}
                        <td>{% if answer %}◯{% else %}×{% endif %}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>

    <div class="button-group">
        <a href="{% url 'home' %}" class="button-primary">ホーム画面へ</a>
    </div>
    
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
    const ctx = document.getElementById("accuracyChart");

    const correctAnswers = JSON.parse('{{ count_of_true|safe }}');
    const totalAnswers = JSON.parse('{{ sum_answer|safe }}');
    const incorrectAnswers = totalAnswers - correctAnswers; 

    new Chart(ctx, {
        type: "pie",
        data: {
            labels: ["正答", "誤答"],
            datasets: [{
                data: [correctAnswers, incorrectAnswers],
                backgroundColor: ['#ff4d4d', '#3366ff']
            }]
        },
        options: {
            responsive: true,
            plugins: {
                    legend: {
                        position: 'bottom'
                }
            }
        }
    });
});
</script>
 
{% endblock %}
