<!-- ホーム画面 -->
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="wrapper">
  <div class="home-container">
    <a class="button-primary" data-bs-toggle="modal" data-bs-target="#selectModeModal">問題演習</a>
    <a class="button-primary" href="{% url 'learning_history' %}">学習履歴</a>
    <a class="button-primary" href="{% url 'ranking' %}">ランキング</a>
    <button class="button-primary" onclick="logoutUser()">ログアウト</button>
  </div>
</div>

<!-- 出題設定用モーダル -->
<div class="modal fade" id="selectModeModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">出題設定</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="select-subject-form" method="POST" action="{% url 'list_questions' %}">
          {% csrf_token %}
        <div class="form-check">
          <input class="form-check-input" type="radio" name="subject" value="A" checked>
          <label class="form-check-label">科目A</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="subject" value="B">
          <label class="form-check-label">科目B</label>
        </div>
        <div class="modal-footer">
          <button type="submit" class="button-primary">スタート</button>
        </form>
        <a class="button-secondary" href="{% url 'continue_questions' %}">続きから始める</b>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
